@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nata+Sans:wght@100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@import "tailwindcss";



*{
  font-family: "Outfit", sans-serif;
}

@layer base{
  button{
    @apply cursor-pointer;
  }

  input:not([types = "checkbox"]){
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }


  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}



@media print {
  body * {
    visibility: hidden;
  }

  #resume-area,
  #resume-area * {
    visibility: visible;
  }

  #resume-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


